.tela{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    width: 100px;
    height: 80px;
    border-radius: 40px;
}

.login{
    display: flex;
    flex-direction: column;
    border: black solid ;
    width: 380px;
    align-items: center;
    justify-content: center;
    
}